@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

html, body
{
    height: 100%;
}
body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: white;
  text-align: center;

}
.love-wins {
  background: linear-gradient(135deg, #FF5852 16%, #FF9000 16%, #FF9000 32%, #FFD300 32%, #FFD300 48%, #3DCD49 48%, #3DCD49 64%, #0089D7 64%, #0089D7 82%, #9E44C4 82%, #9E44C4 82%);
  height: 100vh;
  width: 100vw;
}

.love-wins:after {
  content: '#LoveWins';
  color: #fff;
  display: block;
  font-size: 96px;
  font-weight: bold;
  letter-spacing: .2rem;
  line-height: 100vh;
  text-align: center;
}
.input-file {
  height: 30px;
  margin: 35px auto;
  position: absolute;
  top: 50%;
  margin-top: 75px;
  width: 108px;
  text-align: center;
  left: 50%;
  margin-left: -50px;
}

label, input {
  cursor: pointer;
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

label {
  background: #ca1b00;
  color: #F8CBCA;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  width: 87px;
}

input[type=file] {
  opacity: 0;
}
#opacity {
  display: block;
  max-width: 300px;
  top: 50%;
  margin-top: 118px;
  left: 50%;
  margin-left: -150px;
}
#canvas {
  max-width: 200px;
  position: absolute;
  z-index: 99;
  top: 50%;
  margin-top: 150px;
  margin-left: -100px;
}